<div class="container">
	<div class="row justify-content-center">
		<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
			<article class="card mb-3 h-100">
				<div class="card-header">
					<h3 class="text-center">Catégories véhicule</h3>
				</div>
				<div class="card-body text-center">
					<p>
						<a class="btn4 text-center" href="{{ path('admin_categorie_index') }}">liste</a>
					</p>
					<p>
						<a class="btn4 text-center" href="{{ path('admin_categorie_add') }}">Ajouter</a>
					</p>
				</div>
			</article>
		</aside>
		<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
			<article class="card mb-3 h-100">
				<div class="card-header">
					<h3 class="text-center">Catégories réparation</h3>
				</div>
				<div class="card-body text-center">
					<p>
						<a class="btn4 text-center" href="{{ path('admin_category_repair_index') }}">liste</a>
					</p>
					<p>
						<a class="btn4 text-center" href="{{ path('admin_category_repair_add') }}">Ajouter</a>
					</p>
				</div>
			</article>
		</aside>
		<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
			<article class="card mb-3 h-100">
				<div class="card-header">
					<h3 class="text-center">Véhicules</h3>
				</div>
				<div class="card-body text-center">
					<p>
						<a class="btn4 text-center" href="{{ path('admin_vehicle_index') }}">liste</a>
					</p>
					<p>
						<a class="btn4 text-center" href="{{ path('admin_vehicle_add') }}">Ajouter</a>
					</p>
				</div>
			</article>
		</aside>

		{% if is_granted('ROLE_ADMIN') %}
			<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
				<article class="card mb-3 h-100">
					<div class="card-header">
						<h3 class="text-center">Réparations</h3>
					</div>
					<div class="card-body text-center">
						<p>
							<a class="btn4 text-center" href="{{ path('admin_repair_index') }}">liste</a>
						</p>
						<p>
							<a class="btn4 text-center" href="{{ path('admin_repair_new') }}">Ajouter</a>
						</p>
					</div>
				</article>
			</aside>
			<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
				<article class="card mb-3 h-100">
					<div class="card-header">
						<h3 class="text-center">Utilisateurs</h3>
					</div>
					<div class="card-body text-center">
						<p>
							<a class="btn4 text-center" href="{{ path('admin_user_index') }}">Voir ou modifier</a>
						</p>
						<p>
							<a class="btn4 text-center" href="{{ path('admin_user_add') }}">Ajouter</a>
						</p>
					</div>
				</article>
			</aside>

		{% endif %}
		<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
			<article class="card mb-3 h-100">
				<div class="card-header">
					<h3 class="text-center">Témoignages</h3>
				</div>
				<div class="card-body text-center">
					<p>
						<a class="btn4" href="{{ path('admin_testimony_index') }}">liste</a>
					</p>

				</div>
			</article>
		</aside>
		{% if is_granted('ROLE_ADMIN') %}
			<aside class="col-lg-6 col-md-6 col-sm-12 mb-3">
				<article class="card mb-3 h-100">
					<div class="card-header">
						<h3 class="text-center">Horaires</h3>
					</div>
					<div class="card-body text-center">
						<p>
							<a class="btn4 text-center" href="{{ path('admin_business_hours_index') }}">Horaires d'ouverture</a>
						</p>
					</div>
				</article>
			</aside>

		{% endif %}
	</div>
</aside></div></div>
