<div class="container">
	<div class="row justify-content-center">
		<nav class="navbar navbar-expand-lg navbar ">
			<a href="/" class="navbar-brand d-block d-lg-none">
				<img src="{{ asset('assets/image/Garage.png') }}" width="70" height="70" alt="Logo">
			</a>

			<button class="hamburger hamburger--squeeze d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>


			<div class="collapse navbar-collapse" id="navbarToggler">
				<div class="navbar-nav col-lg-4 justify-content-start align-items-center">
					<ul class="d-flex flex-row">
						<li class="nav-item active">
							<a class="nav-link" href="/">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_vehicle_index') }}">Occasions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('repair_index')}}">Atelier</a>
						</li>
					</ul>
				</div>

				<div class="navbar-brand mx-auto d-none d-lg-block col-lg-2 text-center">
					<a href="#">
						<img src="{{ asset('assets/image/Garage.png') }}" width="150" height="150" alt="Logo">
					</a>
				</div>

				<div class="navbar-nav col-lg-4 justify-content-center align-items-center">
					<ul class="d-flex flex-row justify-content-end">
						{% if app.user %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									{{ app.user.username }}
								</a>
								<div class="dropdown-menu">
									{% if is_granted('ROLE_COLAB_ADMIN') %}
										<a class="dropdown-item" href="{{ path('admin_index') }}">Administration</a>
									{% endif %}
									<a class="dropdown-item" href="{{ path('app_profil_index') }}">Compte</a>
									{% if is_granted('ROLE_ADMIN') %}
										<a class="dropdown-item" href="{{ path('admin_user_add') }}">inscription</a>
									{% endif %}
									<a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
								</div>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
</div>



{% block javascripts %}
	<script src="{{ asset('assets/js/navScript.js') }}" defer></script>

{% endblock %}
