<section class="container">
	<div class="row justify-content-center">
		<div class="col">
			{{ form_start(userForm) }}
			{{ form_row(userForm.username) }}
			
			{{ form_row(userForm.email) }}
			{{ form_row(userForm.password) }}
			
			{{ form_row(userForm.roles) }}
			
			<div>
				<button class="btn btn mt-2" type="submit">
					{{ button_label | default ('Ajouter') }}
				</button>
			</div>
			{{ form_end(userForm) }}

		</div>
	</div>
</section>
