{% extends 'base.html.twig' %}

{% block body %}

  {% include "_partials/_adminnav.html.twig" %}
	<section class="container">
		<h1 class="text-center">Témoignages non validés</h1>

		<div class="row">
			{% for testimony in unvalidated_testimonies %}
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card mt-3">
						<div class="card-body">
							<p></p>
							<h2 class="card-title">Nom :<br> {{ testimony.name }}</h2>
							<p class="card-text">{{ testimony.rating }}★</p>
							<p class="card-text">Message :<br> {{ testimony.message }}</p>

							{% if is_granted('ROLE_COLAB_ADMIN') %}
								<a href="{{ path('admin_testimony_validate', {'id': testimony.id}) }}" class="btn">Valider</a>
								<a href="{{ path('admin_testimony_delete', {'id': testimony.id}) }}" data-token="{{ csrf_token('delete_testimony' ~ testimony.id) }}" class="btn3 mt-3 delete-testimony">
									Supprimer
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% else %}
				<p class="text-center">Aucun témoignage à valider.</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/testimonydelete.js') }}" defer></script>
{% endblock %}
