{% block body %}
<h1 class="text-center">Laisser un témoiniage</h1>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'placeholder': 'Nom'}}) }}
            <div class="rating mb-4">
			<h2 class="text-center mt-4">Note</h2>
                {% for i in 1..5 %}
                    <span class="star" data-value="{{ i }}">★</span>
                {% endfor %}
                {{ form_widget(form.rating, { 'attr': { 'class': 'hidden-rating' }, 'label': false }) }}
            </div>

            {{ form_row(form.message, {'attr': {'placeholder': 'Message'}}) }}

            <div class="text-center">
                <button type="submit" class="btn btn2 mt-3 text-center">Valider</button>
            </div>

            {{ form_end(form) }}
			</div>
		</div>
		

		<!-- Display the list of validated testimonies -->
		<div class="row justify-content-center">
		<hr class="mt-3 mb-3">
			<h2 class="col-12 text-center mt-3 mb-5">Nos client témoigne de nos compétences</h2>
			{% for testimony in testimony %}
				<div class="col-12 col-md-6">
					<div class="card border-primary mb-3 text-center">
						<div class="card-body">
							<h5 class="card-title">{{ testimony.name }}</h5>
							<p class="card-text star">
								{% for i in 1..5 %}
									{% if i <= testimony.rating %}
										<i class="fas fa-star"></i>
									{% else %}
										<i class="far fa-star"></i>
									{% endif %}
								{% endfor %}
							</p>


							<p class="card-text">{{ testimony.message }}</p>
						</div>
					</div>
				</div>
			{% else %}
				<p class="col-12 text-center">Aucun témoignage validé.</p>
			{% endfor %}
		</div>

		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<a href="{{ path('all_testimonies') }}" class="btn btn2 mt-5 mb-5">Voir tous les témoignages</a>
			</div>
			<hr class="mt-3 mb-3">
			<div class="col-12 text-center">
			<h3>Vous avez une question ?</h3>
			<p>N'hésitez pas à nous contacter via notre formulaire par mail ou téléphone</p>
				<a href="{{ path('app_contact') }}" class="btn btn">Contact</a>
				</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/star.js') }}" defer></script>
{% endblock %}
