{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<main>
		<section class="row">
			<div class="col-12">

				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
						{% for vehicle in vehicle %}
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" {{ loop.first ? 'class="active"' : ''}} aria-label="Slide {{ loop.index }}"></button>
						{% endfor %}
					</div>
					<div class="carousel-inner">
						{% set isRealImageShown = false %}
						{% for vehicle in vehicle %}
							{% if vehicle.images is defined and vehicle.images|length > 0 %}
								{% set image = vehicle.images[0] %}
								{# You can adjust the index to choose the image you want #}
								<div class="carousel-item {{ loop.first ? 'active' : '' }}">
									<img src="{{ asset('assets/uploads/vehicle/' ~ image.name) }}" alt="{{ vehicle.brand }}" class="d-block w-100">
								</div>
								{% set isRealImageShown = true %}
							{% endif %}
						{% endfor %}

						{# If no real image has been shown, show the default one #}
						{% if not isRealImageShown %}
							{% for vehicle in vehicle %}
								<div class="carousel-item {{ loop.first ? 'active' : '' }}">
									{% if vehicle.image %}
										<img src="{{ vehicle.image }}" alt="{{ vehicle.brand }}" class="d-block w-100">
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Précédent</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Suivant</span>
					</button>
				</div>

			</div>
		</section>
	</main>


	<hr>

	{#{{ include('repair/list.html.twig') }}#}


	{{ include('testimony/index.html.twig') }}
	{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}
{% endblock %}
