{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<main class="container-fluid mb-1">
		<div class="row">
			<div class="col-12">
				{% set isRealImageShown = false %}
				<div id="demo">
				
					{% for vehicle in vehicles %}
						{% if vehicle.images is defined and vehicle.images|length > 0 %}
							{% set image = vehicle.images[0] %}
							{% set isRealImageShown = true %}
							<div>
								<img src="{{ asset('assets/uploads/vehicle/' ~ image.name) }}" class="carousel-image img-fluid" alt="{{ vehicle.brand }}"  class="img-fluid">
							</div>
						{% endif %}
					{% endfor %}
					{% if not isRealImageShown %}
						{% for vehicle in vehicles %}
							<div>
								<img src="{{ vehicle.image }}" alt="{{ vehicle.brand }}" style="width:500px; height: 300px" class="img-fluid">
							</div>
						{% endfor %}
					{% endif %}
				</div>

		</div>
	</div>

</main>
</br>

<div class="container mt-2">
{{ include('repair/category_repairs.twig')}}
</div>

{{ include('testimony/index.html.twig') }}
{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}{% endblock %}
{% block javascripts %}

<script src="{{ asset('assets/js/carousel.js') }}"></script>
{% endblock %}
