{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<section class="row">
			<div class="col-12">
				{% set isRealImageShown = false %}
				<div class="slick-carousel">
					{% for vehicle in vehicles %}
						{% if vehicle.images is defined and vehicle.images|length > 0 %}
							{% set image = vehicle.images[0] %}
							<div>
								<img src="{{ asset('assets/uploads/vehicle/' ~ image.name) }}" alt="{{ vehicle.brand }}" class="img-fluid">
							</div>
						{% endif %}
					{% endfor %}
					{% if not isRealImageShown %}
						{% for vehicle in vehicles %}
							{% if vehicle.image %}
								<div>
									<img src="{{ vehicle.image }}" alt="{{ vehicle.brand }}" class="w-100 img-fluid rounded">
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>


			</div>

		</div>
	</section>

</main></br>{{ include('repair/category_repairs.twig')}}{{ include('testimony/index.html.twig') }}{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}{% endblock %}{% block javascripts %}<script src="{{ asset('assets/js/carousel.js') }}" defer></script>{% endblock %}
