<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
           {{ form_start(vehicleForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
               
                <div class="mb-3">
                    {{ form_row(vehicleForm.brand, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(vehicleForm.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(vehicleForm.categorie, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(vehicleForm.price, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(vehicleForm.year, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(vehicleForm.kilometer, {'attr': {'class': 'form-control'}}) }}
                </div>
               <div class"mt-4">
				{# Affichage des images #}
               
				{% if app.request.attributes.get('_route') == 'admin_vehicle_edit' %}

					<h2>Images</h2>
					{% for image in vehicle.images %}
                     
						<div>
							<img src=" {{ asset('assets/uploads/vehicles/mini/300x300-' ~ image.name) }} " alt=" {{ vehicle.name }} " width="150">
							<a class="btn" href=" {{ path('admin_vehicle_delete_image', {id: image.id, 'deleteVehicle': false})}} " data-delete data-type="image" data-token=" {{ csrf_token('delete' ~ image.id) }} ">Supprimer</a>
						</div>
					{% endfor %}

				{% endif %}
				{{ form_row(vehicleForm.images) }}
                <div class="text-center">
                <button type="submit" class="btn btn2 mt-3">{{ button_label|default('Ajouter') }}</button>
                </div>
            {{ form_end(vehicleForm) }}
        </div>
    </div>
</div>
