{% extends 'base.html.twig' %}

{% block title %}Listes des véhicules
{% endblock %}


{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-12 p-2">
				<h1 class="text-center">Listes des véhicules</h1>
				<table class="table">
					<thead>
						<tr class="text-center">
							<th>Marque</th>
							<th>Description</th>
							<th>Image</th>
							<th>Kilomètre</th>
							<th>Prix</th>
							<th>Année</th>
							<th>Catégorie</th>
						</tr>
					</thead>


					{% for vehicle in vehicle %}
						<tr class="text-center">
							<td>{{ vehicle.brand }}</td>
							<td>{{ vehicle.description }}</td>
							<td>
								{% if vehicle.images|length > 0 %}
									<img src="{{ asset('assets/uploads/vehicle/mini/300x300-') ~ vehicle.images[0].name }}" alt="{{ vehicle.brand }}" class="img-thumbnail">
								{% else %}
									<img src="{{ asset('assets/image/Garage.png') }}" width='300px' height='300px' alt="Image par défaut" class="img-thumbnail">
								{% endif %}
							</td>

							<td>{{ vehicle.kilometer }}</td>
							<td>{{ vehicle.price }}</td>
							<td>{{ vehicle.year|date('Y-m-d') }}</td>
							<td>{{ vehicle.categorie.name }}</td>

							<td>
								<a href="{{ path('admin_vehicle_edit', {'id': vehicle.id}) }}" class="btn btn3">Modifier</a>
							</td>

						</tr>

					{% endfor %}
				</table>
				<div class="text-center">
					<a href="{{ path('admin_vehicle_add') }}" class="btn btn5">Ajouter</a>
				</div>
			</main>
		</div>
	</div>

{% endblock %}


