{% extends 'base.html.twig' %}

{% block title %}Réparations par catégorie{% endblock %}

{% block body %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">Réparations {{category.name}}</h1>
        </div>
        <div class="col-12">
            <table class="table custom-table">
                <thead>
                    <tr class="text-center">
                        <th scope="col-3">Nom</th>
                        <th scope="col-6">Description</th>
                        <th scope="col-3">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repair in repairs %}
                        <tr class="text-center">
                            <td>{{ repair.name }}</td>
                            <td>{{ repair.description }}</td>
                            <td>{{ repair.price }}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
            <a class="btn2" href="{{ path('app_contact')}}">Contact</a>
            </div>
        </div>
    </div>
    
</section>

{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}
{% endblock %}
