{% extends 'base.html.twig' %}

{% block title %}Réparations par catégorie{% endblock %}

{% block body %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">Réparations {{category.name}}</h1>
        </div>
        <div class="col-12">
            <table class="table custom-table">
                <thead>
                    <tr class="text-center">
                        <th scope="col-3">Nom</th>
                        <th scope="col-5">Description</th>
                        <th scope="col-3">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repair in repairs %}
                        <tr class="text-center">
                            <td>{{ repair.name }}</td>
                            <div class="col-6 text-center">
                            <td>{{ repair.description }}</td>
                            </div>
                            <td>{{ repair.price }}€*</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-center">* Prix indicatif, tous nos prix sont en Euro et TTC.</p>
            <hr class="my-4">
            <div class="text-center">
            <h3 class="text-center">Vous souhaitez faire réparer votre véhicule ?</h3>
            <p class="text-center">Contactez-nous pour prendre rendez-vous !</p>

            <a class="btn" href="{{ path('app_contact')}}">Contact</a>
            </div>
        </div>
    </div>
    
</section>

{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}
{% endblock %}
