<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="assets/image/Garage favicon.png">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Feuilles de styles -->

		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" rel="stylesheet">

		<link href="{{ asset('assets/css/Hover-master/css/hover-min.css') }}" rel="stylesheet" media="all">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/main.css') }}">


		<!-- Fichiers JS -->
		<script src="{{ asset('assets/js/jQuery3.6.3.js') }}" defer></script>
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>

	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% if app.user and app.user.isVerified == false %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					<strong>Votre compte n'est pas activé</strong>,
					<a href="{{ path('app_resend_verif') }}">renvoyer le lien d'activation</a>
				</div>
			</div>
		{% endif %}


		{% include "_partials/_flash.html.twig" %}
		{% block body %} 
    {% endblock %}

   
		
	</body>
</html>
